.ma {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: $label;
  background: $adjax-page-white;
}

main {
  margin-bottom: 205px;
}

.logo {
  img {
    display: none;

    &.svg {
      display: inline-block;
    }
  }
}

.no-svg {
  .logo {
    img {
      display: inline-block;

      &.svg {
        display: none;
      }
    }
  }
}

header {
  margin-top: 50px;
}

.slogan {
  @include font-size(12);
  letter-spacing: 5.6px;
  text-transform: uppercase;
  font-weight: 900;
  color: #191919;
  margin-top: 20px;
}

h1 {
  @include rft(40,60);
  font-family: 'avalonbold', sans-serif;;
  font-weight: bold;
  line-height: 1.12;
  text-align: center;
  color: #252525;
  margin: 80px auto 45px auto;
  display: inline-block;
  position: relative;

  &:after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    background: $adyax-yellow;
    bottom: 0;

    @media screen and (min-width: $lg) {
      width: 10px;
      height: 10px;
    }
  }
}

.jumbotron {
  margin-bottom: 50px;

  @media screen and (min-width: $lg) {
    max-width: 650px;
    margin-bottom: 80px;
  }

  @media screen and (min-width: $xl) {
    max-width: 770px;
    margin-bottom: 140px;
  }

  h2 {
    @include rft(20,24);
    font-weight: 600;
    text-align: center;
    color: #191919;
    line-height: 1.2;

    @media screen and (min-width: $md) {
      line-height: 1.79;
    }
  }
}

footer {
  background: black;
  padding: 40px 20px 20px 20px;

  @media screen and (min-width: $sm) {
    padding: 70px 40px 30px 40px;
  }

  @media screen and (min-width: $md) {
    padding: 70px 40px 30px 40px;
  }

  @media screen and (min-width: $lg) {
    padding: 90px 55px 40px 55px;
  }

  @media screen and (min-width: $xl) {
    padding: 112px 64px 57px 64px;
  }

  .img-container {
    @include rft(20,40);
    font-family: 'avalonbold', sans-serif;;
    background: black url('../img/map.png') no-repeat center center;
    background-size: contain;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    color: #ffffff;

    padding: 20px 40px 70px 40px;

    @media screen and (min-width: $sm) {
      padding: 40px 20px 120px 20px;
    }

    @media screen and (min-width: $md) {
      padding: 70px 110px 150px 110px;
    }

    @media screen and (min-width: $lg) {
      padding: 90px 150px 180px 150px;
    }

    @media screen and (min-width: $xl) {
      padding: 110px 180px 200px 180px;
    }

    p {
      display: inline-block;
      max-width: 750px;
      margin: 0 auto;
    }
  }
}
