input,
textarea {
  max-width: 100%;
}

input[type="text"],
input[type="email"],
input[type="url"] {
  height: 50px;
}

input[type="text"],
input[type="email"],
input[type="url"],
textarea {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: $label;
  background-color: $adjax-page-white;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid $border-color;
  border-radius: .25rem;
  touch-action: manipulation;

  &:focus {
    border-color: $adyax-yellow;
    outline: none !important;
  }

  &.error {
    color: $adyax-red;
    border-color: $adyax-red;
  }
}

label {
  display: block;
  letter-spacing: 1.4px;
  font-size: 14px;
  text-transform: uppercase;
  color: $label;
  margin-bottom: 22px;

  &.error {
    color: $adyax-red;
    letter-spacing: normal;
    text-transform: none;
  }
}

.form-checkbox + label,
.form-radio + label {
  display: inline-block;
  margin-bottom: 0;
}

.form-item {
  margin-bottom: 30px;
}

.webform-document-file {
  .description {
    display: none;
  }
}

.form-item.js-form-type-checkbox {
  display: table;
  min-height: 40px;
}

.form-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.form-checkbox + label {
  padding-left: 67px;
  cursor: pointer;
  min-height: 40px;
  line-height: 1;
  display: table-cell;
  vertical-align: middle;

  &:before {
    content: '';
    border: 1px solid $border-color;
    padding: 19px;
    border-radius: 2px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.form-checkbox:checked + label {
  background-position: 0 -30px;

  &:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 16px;
    width: 6px;
    height: 16px;
    transform: rotate(45deg);
    border: solid #090909;
    border-width: 0 2px 2px 0;
  }
}

.form-checkbox + label {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//
.form-radio {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.form-radio + label {
  padding-left: 67px;
  line-height: 40px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  &:before {
    content: '';
    border: 1px solid $border-color;
    padding: 19px;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
  }
}

.form-radio:checked + label {
  background-position: 0 -30px;

  &:after {
    content: '';
    position: absolute;
    top: 13px;
    left: 13px;
    background: #6f6f6f;
    border-radius: 100%;
    border: 1px solid #535353;
    width: 13px;
    height: 13px;
  }
}

.form-radio + label {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="file"] + label {
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}

.js input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.no-js input[type="file"] + label {
  display: none;
}

input[type="file"]:focus + label,
input[type="file"].has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.webform-submission-adyax_test_form-form {
  padding-top: 75px;
  border-top: $border-color 1px solid;

  @media (min-width: $md) {
    #edit-left-block,
    #edit-right-block {
      width: 50%;
      padding-right: 25px;
      float: left;
      box-sizing: border-box;
      display: inline-block;
    }

    #edit-right-block {
      padding-right: 0;
      padding-left: 25px;
    }
  }

  @media (min-width: $lg) {
    max-width: 750px;
  }

  @media (min-width: $xl) {
    max-width: 948px;
  }

  #edit-left-block,
  #edit-right-block {
    legend {
      display: none;
    }
  }

  #edit-message {
    min-height: 172px;
  }

  #edit-graduated-html {
    clear: both;
  }

  #edit-graduated--wrapper {
    .form-item {
      display: inline-block;
    }
  }

  .js-form-type-webform-document-file {
    .form-managed-file {
      width: 100%;
      padding: .5rem .75rem;
      border: 1px solid $border-color;
      border-radius: .25rem;
      height: 50px;

      label {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 1.64;
        text-transform: none;
        max-width: 180px;
        margin-top: 6px;
      }
    }

    .form-submit {
      background: $adyax-yellow;
      border-radius: 2px;
      color: white;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.42;
      letter-spacing: 1.2px;
      border: none;
      padding: 8px 16px;
      float: right;
    }
  }

  #edit-please-mark-skills-you-are-best-in-and-types-of-tasks-you-are-g {
    @media (min-width: $md) {
      -moz-column-count: 2;
      -moz-columns: 2;
      -webkit-columns: 2;
      columns: 2;
    }

    label {
      font-size: 16px;
      font-weight: 600;
      color: $label;
      letter-spacing: normal;
      text-transform: none;
    }
  }
}

