/*
X - equal to the letter-tracking value in Photoshop
S - the font-size in pixels
*/
@mixin letter-spacing($x, $s) {
  letter-spacing: $x * $s / 1000 * 1px;
}

@mixin rft($mysizeValue-min, $mysizeValue-max) {

  $delta: $mysizeValue-max - $mysizeValue-min;
  $step: $delta / 3;

  font-size: $mysizeValue-min * 1px;

  @media (min-width: $sm) {
    font-size: $mysizeValue-max - $step * 3 * 1px;
  }
  @media (min-width: $md) {
    font-size: $mysizeValue-max - $step * 2 * 1px;
  }
  @media (min-width: $lg) {
    font-size: ($mysizeValue-max - $step) * 1px;
  }

  @media (min-width: $xl) {
    font-size: $mysizeValue-max * 1px;
  }
}

@mixin font-size($mysizeValue) {
  $sizeValue: $mysizeValue / $basefontsize;
  $remValue: $sizeValue;
  $pxValue: $sizeValue * 10;
  font-size: $pxValue * 1px;
  font-size: $remValue * 1rem;
}